#map {
    width: 45%;
    height: 350px;
    background-color: grey;
    position: relative;
    left: 40px;
    top: 20px;
    border-radius: 5px;
}

h1 {
    width: 50%;
    color: white;
}

h2 {
    color: white;
}

h4 {
    position: relative;
    top: 40px;
    left: 40px;
    color: #DC143C;
}
.userLog {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 400px;
}

.mainMenu {
    background: black;
    height: 30px;
    width: 70%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.80;
    border-radius: 5px;
    left: 63px;
    top: 100px;
    position: relative;
}

.mainMenu:hover {
    opacity: 1;
}


.logout {
    margin-top: 25px;
    margin-right: 25px;
    float:right;
    background: black;
    height: 30px;
    width: 125px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.80;
    border-radius: 5px;
    position: absolute;
    top:0;
    right: 0;
}

.logout:hover {
    opacity: 1;
    background-color: #b20000;
}

.menu {
    margin-top: 25px;
    margin-right: 25px;
    float:right;
    background: black;
    height: 30px;
    width: 125px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.80;
    border-radius: 5px;
    position: absolute;
    top:50px;
    right: 0;
}

.menu:hover {
    opacity: 1;
    background-color: green;
}


.welcomeMsg {
    color: white;
    width: 200px;
    padding-top: 7px;
    padding-left: 260px;
    margin: auto;
    word-wrap: break-word;
    position: relative;
    top: 23px;
    left: -250px;
}


.ipInfo {
    color: black;
    position: relative;
    right: 70px;
    top: -330px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    opacity: 0.7;
    font-family: consolas;
    width: 40%;
    float: right;
    height: 349px;
    background-color: white;
    
}

#webcamBtn {
    background: black;
    height: 30px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.80;
    border-radius: 5px;
    position: absolute;
    bottom: 180px;
    left: 230px;
}

#webcamBtn:hover {
    opacity: 1;
}


#screenshotBtn {
    background: black;
    height: 30px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.80;
    border-radius: 5px;
    position: absolute;
    bottom: 180px;
    right: 250px;
}

#screenshotBtn:hover {
    opacity: 1;
}

#webcamId {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    top: 70px;
    left: 217px;
    width:15%; 
    height:0%; 
    margin:4px; 
    border:1px solid black; 
    float: left

}

#screenshotId{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    bottom: -75px;
    right: -309px;   
    width:15%; 
    height:15%; 
    margin:4px; 
    border:1px solid black; 
    float: right;

}

#webcamId:hover {opacity: 0.7;}
#screenshotId:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#webcamCaption, #screenshotCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #webcamCaption , #screenshotCaption{    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* The Close Button */
.closeScreenshot {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeScreenshot:hover,
.closeScreenshot:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}





@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/abstract-astronomy-dark-924824.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}